.nav-left{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right{
    width: 75%;
}

.nav-right-top{
    display: flex;
    justify-content: flex-end;
}

.nav-right-center{
    padding: 15px 0px 15px 0px;
}

.nav-right-bottom{
    display: flex;
    justify-content: flex-end;
}

button:hover{
    cursor: pointer;
    color: grey;
}